//text-properties
$text-xs: 9px;
$text-sm: 11px;
$text-md: 15px;
$text-lg: 20px;
$text-xl: 26px;
$text-xxl: 31px;
$text-xxxl: 36px;
$text-logo: 25px;

//Color-properties
/*$primary-color: #9BE222;
$secondary-color: #009EFF;*/