//essentials
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  overflow: hidden;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

a {
  text-decoration: none;
}

* {
  outline: none;
  margin: 0;
  padding: 0;
  outline: none;
  margin: 0;
  padding: 0;
}

.gray {
  color: #D2DAD7;
}

.black {
  color: black !important;
}

.clearfix {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


/*font-size*/

.text-xs {
  font-size: $text-xs;
}

.text-sm {
  font-size: $text-sm;
}

.text-md {
  font-size: $text-md;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

.text-xxl {
  font-size: $text-xxl;
}

.text-xxxl {
  font-size: $text-xxxl;
}

.success-msg {
  background-color: #106CC8;
}

.error-msg {
  background-color: #FF5252;
}